.content {
  width: 100%;
  
}

/*APPAREL PAGES*/



.apparel-feature {
	width: 100%;
	background: tomato;
	
}

.apparel-feature .text {
	width: 90%;
	float: left;
	padding-left: 5%;
	padding-top: 75px;
}

	.apparel-feature .text h1 {
		
	}

	.apparel-feature .text p {

		width: 100%;
		/*text-align: justify;*/
		background: white;
		padding-top: 50px;
		font-size: 15px;
		line-height: 1.5;
	}



.apparel-feature .small-features{

	float: left;
	width: 100%;
	padding-top: 50px;
	

}

.apparel-feature .small-feature {
	float: left;
	/*background: green;*/
	margin-right: 10px;
	height: 100px;
	width: 100px;

}


.apparel-feature .text .shop {
	margin-top: 50px;
	width: 40%;
	
	background: tomato;
	
}

	.apparel-feature .text .shop:hover {
		outline: 1px solid tomato;
	}

.apparel-feature .text .shop p {
	text-align: center;
	color: white;
	background: tomato;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-transform: uppercase;
}

		.apparel-feature .text .shop p:hover {
			background: white;
			color: tomato;
		}

.apparel-feature .images {
	padding-top: 25px;
	margin-left: 5%;
	width: 90%;
	float: left;
}

.companion {
	width: 300px;
	padding-top: 25px;

}

.companion .box {
	border: 2px solid black;
	margin-top: 20px;
	height: 105px;
	width: 300px;
}

	.companion .box:hover {
		border: 2px solid tomato;
	}

	.companion .box:hover > p {
		color: #9b0a39;
	}



.apparel-feature .text .companion p {
	float: left;
	padding-top: 35px;
	margin-left: 40px;
	width: 125px;
	text-transform: uppercase;
}

.companion img {
	width: 100px;
	float: left;
	
}


/*ABOUT US PAGES*/

.about .img {
	width: 100%;
	float: left;
	display: none;

}

.about .text {
	width: 100%;
	float: left;


}

.about .text h1 {
	font-size: 20px;
	width: 75%;
	padding-left: 10%;
	padding-top: 50px;

}


.about .text p {
	width: 90%;
	text-align: justify;
	padding-left: 10%;
	padding-top: 25px;
	font-size: 12px;
}

.about .text a {
	color: red;
}

.about .text ul {
	padding-left: 10%;
	padding-top: 25px;
	padding-bottom: 25px;
}

@media (min-width: 500px) {

/*	.apparel-feature .text {
	width: 50%;
	float: left;
	padding-left: 15%;
	padding-top: 75px;
}

.apparel-feature .text p {
		
		width: 75%;
		font-size: 20px;
}


*/

}

@media (min-width: 1000px) {

.apparel-feature .text {
	width: 50%;
	float: left;
	padding-left: 10%;
	padding-top: 75px;
}

.apparel-feature .text p {
		
		width: 75%;
		font-size: 20px;
}



.apparel-feature .images {
	width: 45%;
	margin-left: 0;

}
.about .img {
	width: 50%;
	float: left;
	display: inline;

}
.about .text {
	width: 50%;
	float: left;


}

.about .text h1 {
	font-size: 25px;
}

.about .text p {
	width: 75%;
	text-align: justify;
	padding-left: 10%;
	padding-top: 25px;
	font-size: 15px;
}