.head {
  width: 100%;
  background: url('../img/rain-background.jpg') no-repeat center center;
/*  background: url('../img/frost-background.jpg') no-repeat center center;*/
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;

}

.head .title {
  padding-top: 50px;
  padding-bottom: 25px;
  background: white;
}

.title .breadcrumb {
  width: 10%;
  margin-top: 25px;
  margin-bottom: 0;
}

.head h1 {
  color: tomato;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  line-height: 1.25;


}

.items {
  padding-left: 7.5%;
  width: 100%;
  position: absolute;


}

.item {
 /* width: 20%;*/
  width: 45%; 
  float: left;
  margin-right: 1.85%;
  margin-top: 50px;
/*  background: white;
  border-radius: 50%;*/
}

.item:hover > p a {
  color: red;
}

.item p {
  color: black;
  padding-top: 25px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.item p a {
  color: black;
}

.item img {
  border-radius: 50%;
  background: white;
  border: 1px solid #a6a6a6;
  width: 98%;
}

.item img:hover {
  width: 100%;
  /*margin-right: 2.85%;*/
  margin-right: 1.35%;
  border: 2px solid tomato;
  border-radius: 50%;
}

.index-shop {
  width: 100%;
}

.shopAll {
  float: left;
  width: 300px;
  border: 2px solid white;
  background: tomato;
  height: 75px;
  text-align: center;
  border-radius: 10px;
  border-bottom: 4px solid #9b0a39;
  /*margin-top: 50px;*/
  margin-top: 600px;
  margin-left: 4%;

  bottom: 0;

}

    .shopAll:hover {
      background: #00FFFF;
      border-bottom: 3px solid #336699;
    }



.shopAll p {

  width: 100%;
  color: white;
  padding-top: 20px;
  padding-bottom: 25px;
  text-transform: uppercase;
}
    .shopAll p:hover {
      color: white;
    }

.breadcrumb {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 30%;
}


.seasons {

  height: auto;
  margin-top: 25px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  float: left;
}

.season {
 /* float: left;*/
  width: 100%;
 
 
}

.season .button {
   height: 75px;
  width: 175px;
  background: tomato;
  color: white;
  float: left;
  margin-top: 50px;
}

.season .button:hover {
  background: white;
  border: 3px solid tomato;
}

.season .button:hover > p{
  padding-top: 23px;
  color: #9b0a39;
}

.season .text .button p {
  padding-top: 25px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.season .text {
  width: 90%;
  margin-top: 25px;
  margin-left: 5%;
  text-align: justify;
}

.season .text h1 {
  text-align: left;
  line-height: 1.25;
}

.season .text p {
  padding-top: 10px;
}

.season.full {
  height: 300px;
  width: 100%;
  background: url('../img/season-full-mobile.jpg') no-repeat center center;
  background-size: cover;
  float: left;
}

.season.left{
  
}
.season.right img{
  padding-top: 25px;
  
}

.season.full .text{
  width: 90%;
  color: white;
  float: left;
  margin-left: 5%;
  margin-top: 50px;
  text-align: justify;
}
.season.full .text p {
  font-size: 20px;
}

.events {
  padding-top: 0px;
  padding-bottom: 75px;
  width: 100%;
  float: left;
}

.events a {
  color: #003399;
}

.events h1 {
  text-align: center;
  line-height: 1.25;
  font-size: 18px;
}

.events .main {
  padding-top: 50px;
}

.events .text {
  width: 90%;
  padding-left: 5%;
  float: left;
}

.events .button {
  height: 75px;
  width: 175px;
  background: tomato;
  color: white;
  float: left;
  margin-top: 50px;
}

.events .button:hover {
  background: white;
  border: 3px solid tomato;
}

.events .button:hover > p{
  padding-top: 23px;
  color: #9b0a39;
}

.events .button p {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.events h2 {
  text-transform: uppercase;
  color: tomato;
}

.events h3 {
  text-transform: uppercase;
  color: #9b0a39;
  padding-top: 5px;
}

.events p{
  padding-top: 25px;
  width: 100%;
  text-align: justify;
  float: left;
}

.events img {
  display: none;
}

.blog {
  width: 100%;
  float: left;
  padding-bottom: 100px;
}

.blog h1 {
  text-align: center;
  padding-bottom: 100px;

}

.blog .post {
  width: 90%;
  float: left;
  margin-left: 4%;

}

.blog .post img{
  width: 40%;
  float: left;
  border-radius: 50%;
}

  .blog .post img:hover {
    border: 4px solid tomato;
  }

.blog .post .text{
  float: left;
  padding-left: 10px;
  width: 55%;
}

.blog .post .text h3 {
  color: #3333CC;
}

.blog .post .text h4 {
  color: #9b0a39;
}

.blog .post .text p {
  text-align: justify;
  padding-top: 15px;
}

.blog .post a {
  color: tomato;
}

.blog .button {
  width: 200px;
  height: 75px;
  margin-top: 100px;
  background: tomato;
  float: left;
  margin-left: 43.5%;
}

  .blog .button:hover {
    background: white;
    border: 2px solid tomato;
  }

  .blog .button:hover > p {
    color: #9b0a39;
    padding-top: 23px;
  }

.blog .button p {
  color: white;
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;
}


/*MEDIA QUERIES*/




@media (min-width: 500px) {

  .head {
      height: 950px; 
  }
    
  .items {
    padding-left: 1%;
  }
  
  .item {
      width: 23%;
      margin-right: 1.85%;
      margin-top: 100px;
  }

  .item p {
    font-size: 25px;
  }

  .shopAll {
        margin-left: 40.5%;
  }

  .breadcrumb {
    width: 10%;
   
  }

  .season {
      float: left;
      /*width: 50%;*/
      padding-bottom: 50px;
  }

  .season .text {
    width: 60%;
    margin-top: 20%;
    margin-left: 15%;
    text-align: justify;
  }

  .season .text p {
    padding-top: 50px;
  }

  .season .button p {
    padding-top: 25px;
  }
  .season.full {
    height: 700px;
    background: url('../img/season-full2.jpg') no-repeat center center;
    background-size: cover;
  }

  .season.full .text{
    width: 40%;
    color: white;
    float: left;
    margin-left: 50%;
    margin-top: 200px;
   
  }
  .season.full .text p {
    padding-top: 50px;
    font-size: 20px;
  }

  .season.right img{
    padding-top: 0px;
    
  }

  .events h1 {
    font-size: 30px;
  }

  .events p {
    width: 80%;
  }

  .blog .post {
  width: 75%;
  }


}


@media (min-width: 1050px) {

  .season {
    float: left;
    width: 50%;
  }

  .events {
    padding-top: 50px;
  }
    .events img {
      display: inline;
    float: left;
    width: 50%;
    padding-right: 100px;
  }

  .events .text {
    width: 50%;
    padding-left: 150px;
    float: left;
  }

  .blog .post {
  width: 28%;
  }

}