<div data-ng-controller='MainController' class = "about">
	<div class="img">
		<img src="img/contact-feature.png"/>
	</div>

	<article class ="text">
		<h1>Thank you for visiting Newport Kidsport!</h1>
		<p>
			We are a children’s clothing company, fueled by local community, simple design and demanding Northwest weather.
		</p>
			<p>
			In 1988, our company was started in a living room in Portland, Oregon. After the birth of her first son, Josephine Newport rented a sewing machine and gave herself a week to find a solution to one simple problem: fussy children’s clothing. With this goal in mind Josephine came up with her first line of products, one of which, our beloved <a href = "apparel/babycape.html">baby cape</a> continues to be a best-seller. Baby in arms, Josie brought her prototype baby cape into Portland stores including Young Land, Hannah Anderson and REI, to her surprise everyone was interested.
		</p>
			<p>
			From the first orders of the baby cape in 1988 to 2005 Newport Kidsport grew into a leading manufacturer of children’s clothing. Although the company expanded from a one-woman production to a world-wide manufacturer, the central goals and roots of the company stayed true, producing clothing that was simple, functional, long-lasting and was all made in the Northwest.
			</p>
	</article>

	<div class = "about-mobile">
		<img src="img/contact-feature.png"/>
	</div>
</div>

