<div data-ng-controller='MainController' class="fabrics-head">

	<div class = "text">
		<h1>Fabrics</h1>
		<p>When Newport Kidsport started in 1988, we decided that instead of producing more lines of fabric, we would go to the sources of the high quality fabrics that already existed. We went to the leaders in the outdoor clothing industry who create advanced new fabrics, and often produce them in excess quantities. Lucky for Newport Kidsport these high quality fabrics were available to us and 26 years later we are proud to use the same over-stock buying that we started with, featuring fabrics from companies including Patagonia, Prana and Arcteryx.
		</p>
		<p>
		What does this mean for our customers? It allows you to get our products, made from amazing fabrics at very affordable prices. We hope you enjoy them as much as we have.
		</p>
	</div>
</div>

<section class="swatches">
	<div class ="swatch">
		<img src ="img/swatches/nylon.jpg" />
		<div class= "text">
			<h1>Waterproof Nylon</h1>
			<p>Our waterproof nylon fabrics are also known as two-ply fabrics and are made with a water and wind proof protective coating.  This fabric offers protection from the elements while allowing movement and flexibility, making this fabric the perfect shell layer.  </p>
		</div>
		<div class = "swatch-options">
			<div class = "swatch-small">
				<img src = "img/swatches/nylon/orange.jpg" />
			</div>
			<div class = "swatch-small">
				<img src = "img/swatches/nylon/yellow.jpg" />
			</div>
			<div class = "swatch-small">
				<img src = "img/swatches/nylon/green.jpg" />
			</div>
			<div class = "swatch-small">
				<img src = "img/swatches/nylon/red.jpg" />
			</div>
			<div class = "swatch-small">
				<img src = "img/swatches/nylon/blue.jpg" />
			</div>
		</div>
	</div>

	<div class ="swatch">
		<img src ="img/swatches/fleece.jpg" />
		<div class="text">
			<h1>Polar Fleece</h1>
			<p>Our polyester polar fleece is known for its durability, lightweight warmth, quick-drying characteristics and easy care. Polartec’s innovative polyester knit makes this fabric a resistant insulation layer for versatile weather. </p>
		</div>
		<div class = "swatch-options">
			<div class = "swatch-small">
				<img src = "img/swatches/fleece/striped.jpg" />
			</div>
			<div class = "swatch-small">
				<img src = "img/swatches/fleece/blue.jpg" />
			</div>
		</div>
	</div>

	<div class ="swatch">
		<img src ="img/swatches/shell.jpg" />
		<div class="text">
			<h1>Soft Shell Fleece</h1>
			<p>Our softshell fleece is made from a polyester-lycra blend that creates functional multi-season garments that last. This fabric’s four-way stretch, flexibility, comfort as well as water and wind resistance makes excellent shell and insulation layers.</p>
		</div>
	</div>

	<div class ="swatch">
		<img src ="img/swatches/wool.jpg" />
		<div class="text">
			<h1>Wool Jersey Blend</h1>
			<p>Our wool jersey blend offers the warmth of wool with the comfort and versatility of jersey. This blend is easy to care for and provides warmth without the bulky weight of wool, making it a perfect base or insulation layer. </p>
		</div>
		<div class = "swatch-options">
			<div class = "swatch-small">
				<img src = "img/swatches/wool/grass-green.jpg" />
			</div>
			<div class = "swatch-small">
				<img src = "img/swatches/wool/chocolate.jpg" />
			</div>
		</div>
	</div>
</section>
