
@import 'nav.css';
@import 'home.css';
@import 'content.css';
@import 'gallery.css';

@-ms-viewport {
  width: device-width;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  list-style: none;

}

html {
 /* font-family: 'Raleway', sans-serif;*/
  font-family: 'Nunito', sans-serif;
  min-height: 100%;
  position: relative;

}

body {
 	/*font: 'Raleway', sans-serif;*/
  font-family: 'Nunito', sans-serif;
  line-height: 1.5em;
  width: 100%
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

br {
  width: 70%;
  height: 2px;
  color: gold;
}

h1{
  text-transform: uppercase;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  cursor: pointer;
}

