<div class="menu">
  <section class="socialicons">
    <div class= "icon">
      <a href="https://www.pinterest.com/newportkidsport/pins/"><img src='img/pinterest.png' /></a>
    </div>
    <div class= "icon">
      <a href="https://www.facebook.com/pages/Newport-Kidsport/367712086742067"><img src='img/fb.png' /></a>
    </div>
  </section>

  <div class = "logo">
    <a href="index.html"><img src="img/logo.png"/></a>
    <p>Worry Free Play</p>
  </div>

  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Apparel</a>
        <ul>
          <li><a href="apparel/raincape.html">Rain Cape</a></li>
          <li><a href="apparel/babycape.html">Baby Cape</a></li>
          <li><a href="apparel/rainbubble.html">Rain Bubble</a></li>
        </ul>
        </li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="stockist.html">Stockist</a></li>
      <li><a href="#">Contact</a></li>
      <li class = "shop"><a href="https://newportkidsport.squarespace.com/">Shop</a></li>
    </ul>
  </nav>

</div><!--END MENU-->
