<div data-ng-controller="MainController" class = "apparel-feature">
	<div class="text">
		<h1>The Baby Cape</h1>
		<p>Our all time favorite! The baby cape offers warmth without confinement. Designed for parents looking for an easy solution to fussy layering, the baby cape pulls over easy for instant coverage! Perfect for year round comfiness.</p>

		<p>
		An insulation layer made from moisture wicking fleece. Includes snaps underarms and full hood.
		</p>

		<div class="shop">
			<a href="https://newportkidsport.squarespace.com/all/insulating-baby-cape"><p>shop</p></a>
		</div>

		<div class="companion">
			<h3>Best Layered With</h3>

			<div data-ng-click="redirect('apparel/raincape')" class = "box">
				<p>Rain Cape</p>
				<img src="../img/jacket1.png" />
			</div>
		</div>
	</div>

	<div class="images">
		<div class="main">
			<img src="../img/870x700-babycape1.png" />
		</div>

		<div class = "small-features">
				<div class = "small-feature">
					<img src="../img/babycapesketch.png"/>
				</div>
<!-- 				<div class = "small-feature">
					<img src="../img/wool/wool-green-babycape.png"/>
				</div>
				<div class = "small-feature">
					<img src="../img/wool/wool-chocolate-babycape.png"/>
				</div>
				<div class = "small-feature">
					<img src="../img/fleece/fleece-blue-babycape.png"/>
				</div> -->
				<div class = "small-feature">
					<img src="../img/870x700-babycape1.png" />
				</div>
				<div class = "small-feature">
					<img src="../img/870x700-babycape3.png" />
				</div>

		</div>
	</div>
</div>
