<div data-ng-controller="MainController" class = "apparel-feature">
	<div class="text">
		<h1>The Beach Bubble</h1>
		<p>Keep your child protected and dry with our fun Beach Bubble. Designed for optimal move-ability and functionality, perfect for outdoor fun in any weather!</p>
		<p>
		Waterproof, breathable nylon rain shell. Includes gentle elastic at wrists and ankles, a long front zipper as well as full hood and bill. Great for
		</p>

		<div class="shop">
			<a href="https://newportkidsport.squarespace.com/all/the-rain-bubble"><p>shop</p></a>
		</div>

	</div>
	<div class="images">
			<div class="main">
				<img src="../img/870x700-rainbubble1.png"/>
			</div>

			<div class = "small-features">
				<div class = "small-feature">
					<img src="../img/rainbubblesketch.png"/>
				</div>
<!-- 				<div class = "small-feature">
					<img src="../img/swatches/bubble-suit/nylon-orange-bubblesuit.png" />
				</div>
				<div class = "small-feature">
					<img src="../img/swatches/bubble-suit/nylon-red-bubblesuit.png" />
				</div>
				<div class = "small-feature">
					<img src="../img/swatches/bubble-suit/nylon-blue-bubblesuit.png" />
				</div>
				<div class = "small-feature">
					<img src="../img/swatches/bubble-suit/nylon-yellow-bubblesuit.png" />
				</div>
				<div class = "small-feature">
					<img src="../img/swatches/bubble-suit/nylon-green-bubblesuit.png" />
				</div> -->
				<div class = "small-feature">
					<img src="../img/870x700-rainbubble1.png"/>
				</div>
				<div class = "small-feature">
					<img src="../img/870x700-rainbubble2.png"/>
				</div>
				<div class = "small-feature">
				</div>
		</div>
	</div>
</div>

