<div class = "about">
	<div class ="text">
		<h1>Have any questions? We'd love to hear from you.</h1>
		<ul>
			<li>Customer Service: 541-306-9797</li>
			<li>Mailing Address: Newport Kidsport, P.O Box 256, Sisters Oregon</li>
			<li>Email: newportkidsport@gmail.com</li>
		</ul>
		<h1>
			Or you can visit us on <a href = "https://www.facebook.com/pages/Newport-Kidsport/367712086742067?ref=hl">facebook</a>!
		</h1>
	</div>

	<div class="img">
		<img src="img/contact-feature.png"/>
	</div>
</div>

