<div class = "head">

  <div class = "items">
    <div class="item">
      <a href="apparel/raincape.html">
        <img src ="img/jacket1.png" />
      </a>
      <p><a href="apparel/raincape.html">The Shelter Cape</a></p>
    </div>

    <div class="item">
      <a href="apparel/babycape.html">
        <img src ="img/jacket3.png" />
      </a>
      <p><a href="apparel/babycape.html">The Baby Cape</a></p>
    </div>

    <div class="item">
      <a href="apparel/rainbubble.html">
        <img src ="img/jacket4.png" />
      </a>
      <p><a href ="apparel/rainbubble.html">The Beach Bubble</a></p>
    </div>
  </div>

  <div class= "index-shop">
    <div class="shopAll">
        <a href="https://newportkidsport.squarespace.com"><p>Shop All</p></a>
    </div>
  </div>
</div>

<div class = "seasons">
  <div class = "season left">
    <div class="text">
        <h1>Made with Care</h1>
        <p>
          Constructed with the highest quality of materials, Newport Kidsport clothing is made for action. Designed for the outdoors, our apparel layers to cover all the bases; Waterproof, Wind Proof, and cozy fleece elements combine to create the perfect outfits to play in. As we always say, there's no such thing as bad weather, only bad clothing.
        </p>

        <p>Visit our Fabrics Page to learn more about the high quality materials we use for all our apparel.</p>

        <a href = "fabrics.html">
          <div class = "button">
            <p>Fabrics</p>
          </div>
        </a>
    </div>
  </div>

  <div class = "season right">
    <img src='img/home-1.png' />
  </div>
</div>

<div class="breadcrumb">
<img src="img/arrowNext.png" />
</div>

<div class="events">

  <h1>Upcoming Events</h1>

  <div class ="main">

    <div class ="text">

    <h2>Focus Group - Sisters Oregon</h2>
    <h3>March 12</h3>

    <p>
      Please come and join Newport Kidsport in the introduction of our upcoming Summer and Fall lines. We will be reintroducing some of our favorite products, and we’re hoping to make them better than ever. Come enjoy food and drinks while sharing your ideas and opinions with the Newport Kidsport crew and community! As a “Thank You,” you will receive product discounts to be used on the NK online store!
    </p>
    <p>
      The event is located at <a href = "https://plus.google.com/111219392150276631997/about?gl=us&hl=en" >Bedouin </a> in Sisters Oregon. Visit our <a href="">facebook page</a> to learn more.
    </p>

    <a href = "https://www.facebook.com/pages/Newport-Kidsport/367712086742067?sk=events&key=events" target = "blank"><div class = "button">
      <p>More Events</p>
    </div></a>

    </div>

    <img src="img/focus-group2.jpg" />

  </div>

</div><!--END EVENTS SECTION-->

<div class="breadcrumb">
<img src="img/arrowNext.png" />
</div>

<div class="blog">

  <h1>Recent posts from our Blog!</h1>

  <div class = "post">
    <a href="http://newportkidsport.com/blog/uncategorized/march-12th-focus-group/"><img src = "img/blog/150x150-blog-3-19-15.jpg" /></a>
    <div class = "text">
      <h3>Focus Group Success!</h3>

      <h4>3.12.15</h4>

      <p>We want to send a big thank you to all who attended last Thursday’s event! We had a wonderful round table session and ....</p>

      <a href = "http://newportkidsport.com/blog/uncategorized/march-12th-focus-group/">
        <p>Read Post</p>
      </a>
    </div>
  </div><!--END POST-->

</div><!--END BLOG SECTION -->

<div class="breadcrumb">
<img src="img/arrowNext.png" />
</div>

<div class ='season full'>
  <div class="text">
    <h1>The true objective of human life is play.</h1>
    <p>
       <em>-G.K. Chesterton</em>
    </p>
  </div>
</div>

