<div data-ng-controller='MainController' class="container">
	<section class="content">
		<div class = "about">
			<div class ="text">
				<h1>Newport Kidsport is now available at the following locations.</h1>
				<ul>
					<li><a href = "https://plus.google.com/115138975932880662028/about?gl=us&hl=en" target="blank">Mako, the Childrens Shop - Portland Oregon</a></li>
					<li><a href = "http://milagrosboutique.com/" target="blank">Milagros Boutique - Portland Oregon</a></li>
					<li><a href = "https://plus.google.com/111219392150276631997/about?gl=us&hl=en" target="blank">Bedouin - Sisters Oregon </a></li>
					<li><a href = "http://www.kidsnorthwest.com/" target="blank">Kids Northwest - Bellingham Washington</a></li>
				</ul>
			</div>

			<div class="img">
				<img src="img/stockist-feature.png"/>
			</div>
		</div>
	</section><!--END CONTENT-->
</div><!--END CONTAINER-->
